<!DOCTYPE html>
<html>
  <head>
   <link rel="stylesheet" media="all" href="/assets/application-d12397cbc3a266ce5a99f7b588223090c55ca04a439953bb5f9304395de93fc3.css" data-turbolinks-track="reload">
   <script src="/assets/application-114264dd93c8ff30e4335b71eed7949d66c4e7a8eb62e2de6284c046fe07104b.js" data-turbolinks-track="reload"></script>
  <title>WebCampBackendNew</title><meta name="csrf-param" content="authenticity_token"><meta name="csrf-token" content="m/9tppE5qMpvtEluJ6iMRJX5Q40Xqgb2AMDrP/w27BmVCwkKSDjJpMUKtkx3rI9vxcLMLccsjsvWS9SP5kRqRQ=="></head>

  <body>
    <p id="notice"></p>

    <h2>タイトル</h2>
     <p><%= @book.title %></p>

    <h2>本文</h2>
     <p><%= @book.body %></p>
      
      <%= link_to "destroy", book_path(book.id), method: :delete, "data-confirm" => "本当に削除しますか？" %>

 </body>
</html>
